/** CSS Styles */

nav {
    width: 100%;
    text-align: center;
    vertical-align: center;
    background-color: orange;
}

#cooky_logo {
    color: white;
    font-size: 2em;
    font-weight: bold;
    display: inline-block;
}

#progress_bar {
	width: 100%;
	height: 60px;
    text-align: center;
    vertical-align: center;
    background-color: gray;
    clear: left;
}

#cooky_back {
    color: white;
    font-size: 2em;
    font-weight: bold;
    display: inline-block;
    margin-left: 10%;
    float:left;
}

#cooky_back:hover {
    color: red;
}

#cooky_next {
    color: white;
    font-size: 2em;
    font-weight: bold;
    display: inline-block;
    margin-right: 10%;
    float:right;
}

#cooky_next:hover {
    color: red;
}

footer {
    text-align: right;
    padding-top: 1em;
    padding-right: 10%;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
}
