/** CSS Styles */

html,
body {
    height: 100%;
}

body {
    min-height: 100%;
}

nav {
    width: 100%;
    text-align: center;
    vertical-align: middle;
    background-color: orange;
}

#cooky_logo {
    color: white;
    font-size: 2em;
    font-weight: bold;
    display: inline-block;
}

#progress_bar {
    width: 100%;
    height: 60px;
    text-align: center;
    vertical-align: middle;
    background-color: gray;
    clear: left;
}

#cooky_back {
    color: white;
    font-size: 2em;
    font-weight: bold;
    display: inline-block;
    margin-left: 10%;
    float: left;
}

#cooky_back:hover {
    color: red;
}

#cooky_next {
    color: white;
    font-size: 2em;
    font-weight: bold;
    display: inline-block;
    margin-right: 10%;
    float: right;
}

#cooky_next:hover {
    color: red;
}

.sarajo {
    opacity: 0.1;
}

.app {
    min-height: 100%;
}

footer {
    clear: both;
    position: relative;
    height: 3em;
    margin-top: -3em;
    text-align: right;
    padding-top: 1em;
    padding-right: 10%;
    right: 0;
    left: 0;
    bottom: 0;
}

.container {
    position: relative;
    padding-bottom: 3em;
}

header {
    padding-bottom: 1em;
}

.participant {
    font-size: 1.5em;
    padding-left: 10%;
    padding-top: 1.5em;
}

#addParticipant {}

#progress-buttons {
    align-content: center;
    display: inline-block;
    vertical-align: middle;
    margin-top: 10px;
}

.timeStr {
    float: right;
}

#foodCard {
    padding-top: 1em;
    padding-bottom: 1em;
    display: inline-block;
    padding: .25rem;
    width: 33%;
}

*,
*:before,
*:after {
    box-sizing: border-box !important;
}

#page1 {
    padding-top: 1em;
}

#searchbox {
    display: inline-block;
    border: 3px #000000;
    text-align: center;
}


/*.row .inner {
 -moz-column-width: 18em;
 -webkit-column-width: 18em;
 -moz-column-gap: 1em;
 -webkit-column-gap:1em; 
  
}*/

.thumbnail {
    position: relative;
    display: block;
}

.thumbnail > img {
    width: 100%;
    height: 150px;
}

#filterButtons {
    text-align: left;
}

.cardContent {
    padding: 0% 5% 5% 5%
}

.col-sm-3.panel {
    padding-left: 0px;
    padding-right: 0px;
    height: 100%;
    margin-left: 10px;
}

.col-sm-4.panel {
    padding-left: 0px;
    padding-right: 0px;
    height: 100%;
    margin-left: 10px;
}

.col-sm-3.panel > .panel-heading {
    font-weight: bold;
    padding: 5px 10px;
}

.col-sm-3.panel > .panel-body {
    padding-left: 20px;
}

.col-sm-4.panel > .panel-heading {
    font-weight: bold;
    padding: 5px 10px;
}

.col-sm-4.panel > .panel-body {
    padding-left: 20px;
}