<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Welcome to Vuetify</title>
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet" type="text/css">
    <link href="https://unpkg.com/vuetify/dist/vuetify.min.css" rel="stylesheet" type="text/css"></link>
    <link href="index.css" rel="stylesheet" type="text/css">
    <link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32">
    <script src="https://unpkg.com/vuetify/dist/vuetify.min.js"></script>
    <script src="https://use.fontawesome.com/7692d7a46a.js"></script>
    <script type="text/javascript" src="recipe.js"></script>
</head>

<body>


      <div id="menu_main">
        <div><h4>{{title}}</h4></div>
        <div><img v-bind:src="imageLink" width='100' height='60'></div>
        <div>
          <button v-on:click="reduceAmount">-</button> {{amount}} <button v-on:click="addAmount">+</button>명이 먹을거에요!</div>
      </div>

      <div id="tool_list">
          <tool v-for="item in tools" v-bind:name="item"></tool>
      </div>
      <div id="main_ing_list">
        <maining v-for="item in main_ings" v-bind:info="item" v-bind:amount="amount"></mainIng>
      </div>
      <div id="sub_ing_list">
        <subing v-for="item in sub_ings" v-bind:info="item" v-bind:amount="amount"></subIng>
      </div>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/vuex/dist/vuex.js"></script>
    <script src="https://unpkg.com/vuetify/dist/vuetify.js"></script>
    <script src="https://www.gstatic.com/firebasejs/3.6.2/firebase.js"></script>
    <script src="index.js"></script>
</body>

</html>
