/** CSS Styles */

html {
    height: 100%;
}

body {
    min-height: 100%;
    position: relative;
}

nav {
    width: 100%;
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;
    vertical-align: middle;
    background-color: #3498db;
}

.btn-primary {
    background: #3498db;
}

.btn-success {
    background: #2ecc71;
}

.btn-warning {
    background: #f1c40f;
}

.btn-danger {
    background: #e74c3c;
}

.btn-primary:focus,
.btn-primary:hover {
    background: #2980b9;
}

.btn-success:focus,
.btn-success:hover {
    background: #27ae60;
}

.btn-warning:focus,
.btn-warning:hover {
    background: #f39c12;
}

.btn-danger:focus,
.btn-danger:hover {
    background: #c0392b;
}

.btn-primary:active,
.btn-primary.active,
.btn-primary:active:hover,
.btn-primary.active:hover {
    background: #1067A0;
}

.btn-success:active,
.btn-success.active,
.btn-success:active:hover,
.btn-success.active:hover {
    background: #0E9547;
}

.btn-warning:active,
.btn-warning.active,
.btn-warning:active:hover,
.btn-warning.active:hover {
    background: #DA8300;
}

.btn-danger:active,
.btn-danger.active,
.btn-danger:active:hover,
.btn-danger.active:hover {
    background: #A72012;
}

#cooky_logo {
    color: white;
    font-size: 2em;
    font-weight: bold;
    display: inline-block;
}

#cooky_logo:hover {
    text-decoration: none;
}

#progress_bar {
    width: 100%;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    text-align: center;
    vertical-align: middle;
    background-color: #ecf0f1;
    clear: left;
}

#cooky_back {
    color: #3498db;
    font-size: 2em;
    font-weight: bold;
    display: inline-block;
    margin-left: 10%;
    float: left;
    font-size: 2.4em;
}

#cooky_back:focus,
#cooky_back:hover {
    color: #2980b9;
    cursor: pointer;
}

#cooky_back:active,
#cooky_back:active:hover {
    color: #1067A0;
}

#cooky_next {
    color: #3498db;
    font-size: 2em;
    font-weight: bold;
    display: inline-block;
    margin-right: 10%;
    float: right;
    font-size: 2.4em;
}

#cooky_next:focus,
#cooky_next:hover {
    color: #2980b9;
    cursor: pointer;
}

#cooky_next:active,
#cooky_next:active:hover {
    color: #1067A0;
}

.sarajo {
    opacity: 0;
}

.app {
    min-height: 100%;
}

footer {
    clear: both;
    position: absolute;
    height: 3em;
    background: #ecf0f1;
    margin-top: -3em;
    text-align: right;
    margin-top: 2em;
    margin-bottom: -6em;
    padding-top: 2em;
    padding-right: 10%;
    padding-bottom: 6em;
    font-weight: bold;
    right: 0;
    left: 0;
    bottom: 0;
}

.container {
    position: relative;
    padding-bottom: 3em;
}

header {
    padding-bottom: 1em;
}

.participant {
    font-size: 1.5em;
    padding-left: 10%;
    padding-top: 25px;
}

#progress-buttons {
    align-content: center;
    display: inline-block;
    vertical-align: middle;
    margin-top: 10px;
}


#foodCard {
    padding-top: 1em;
    padding-bottom: 1em;
    display: inline-block;
    padding: .25rem;
    width: 33%;
}

*,
*:before,
*:after {
    box-sizing: border-box !important;
}

#page1 {
    padding-top: 1em;
}

#searchbox {
    display: inline-block;
    border: 3px #000000;
    text-align: center;
}


.thumbnail {
    position: relative;
    display: block;
}

.thumbnail > a > img {
    width: 100%;
    height: 180px;
}

#filterButtons {
    text-align: left;
}

.cardContent {
    padding: 0% 5% 5% 5%
}

.col-sm-3.panel {
    padding-left: 0px;
    padding-right: 0px;
    height: 100%;
    margin-left: 10px;
}

.col-sm-4.panel {
    padding-left: 0px;
    padding-right: 0px;
    height: 100%;
    margin-left: 10px;
}

.col-sm-3.panel > .panel-heading {
    font-weight: bold;
    padding: 5px 10px;
}

.col-sm-3.panel > .panel-body {
    padding-left: 20px;
}

.col-sm-4.panel > .panel-heading {
    font-weight: bold;
    padding: 5px 10px;
}

.col-sm-4.panel > .panel-body {
    padding-left: 20px;
}

img {
    border: 1px solid #666666;
}

.servingAdjust {
    margin-bottom: 10px;
}

.timeCal {
    float: right;
}

#checkbox-inline {
    padding: 3px;
}

.checkBoxGroup {
    margin-top: 10px;
}



